


results_and_data/
code/*.out
code/batch_cosmo_MCMC_MIN_fullP_0p001d.sh
code/batch_cosmo_MCMC_MIN_fullP_0p1d.sh
code/batch_cosmo_MCMC_MIN_oneP_0p001d.sh
code/batch_cosmo_MCMC_MIN_oneP_0p1d.sh
code/batch_cosmo_MCMC_MIN_oneP_0p1d_small.sh
code/batch_cosmo_MIN_oneP_0p1d.sh
code/batch_cosmo_fullPrior_0p001deg.sh
code/batch_cosmo_fullPrior_0p1deg.sh
code/batch_cosmo_min_MIN_fullP_0p001d.sh
code/batch_cosmo_min_MIN_fullP_0p1d.sh
code/batch_cosmo_min_MIN_oneP_0p001d.sh
code/batch_cosmo_min_MIN_oneP_0p1d.sh
code/batch_cosmo_test1.sh
code/batch_cosmo_test_bugMPI.sh
code/batch_cosmo_test_smaller_scatter_r.sh
code/batch_plot_MIN_fullP_0p001d.sh
code/batch_plot_MIN_fullP_0p1d.sh
code/batch_plot_MIN_oneP_0p001d.sh
code/batch_plot_MIN_oneP_0p1d.sh
code/batch_plot_fullPrior_0p001deg.sh
code/batch_plot_fullPrior_0p1deg.sh
code/batch_plot_test1.sh
code/batch_plot_test_bugMPI.sh
code/batch_plot_test_smaller_scatter_r.sh
code/batch_spec_1test.sh
code/batch_spec_MIN_fullP_0p001d.sh
code/batch_spec_MIN_fullP_0p1d.sh
code/batch_spec_MIN_oneP_0p001d.sh
code/batch_spec_MIN_oneP_0p1d.sh
code/batch_spec_OnePrior_0p001deg.sh
code/batch_spec_fullPrior_0p001deg.sh
code/batch_spec_fullPrior_0p1deg.sh
code/batch_spec_test1.sh
code/batch_spec_test_bugMPI.sh
code/batch_spec_test_smaller_scatter_r.sh
code/beta_dust_wrt_prior_0p35d_r0p01.png
code/beta_synch_wrt_prior_0p35d_r0p01.png
code/beta_wrt_prior.png
code/beta_wrt_prior_0p35d_r0p01.png
code/beta_wrt_prior_noerror.png
code/miscal145GHz_wrt_prior_0p35d_r0p01.png
code/miscal225GHz_wrt_prior_0p35d_r0p01.png
code/miscal27GHz_wrt_prior_0p35d_r0p01.png
code/miscal280GHz_wrt_prior_0p35d_r0p01.png
code/miscal39GHz_wrt_prior_0p35d_r0p01.png
code/miscal93GHz_wrt_prior_0p35d_r0p01.png
code/cosmo_results_grid_prior0to63.npy
code/cosmo_results_grid_prior2to3.npy
code/cosmo_results_grid_prior2to32.npy
code/cosmo_results_grid_prior2to33.npy
code/cosmo_results_grid_prior2to3_0p35d_r0p01.npy
code/prior_alpha.png
code/prior_beta.png
code/prior_beta_sigmaonly.png
code/prior_beta_spectral.png
code/prior_r.png
code/r_wrt_prior.png
code/r_wrt_prior_0p35d_r0p01.png
code/test_beta.png
code/test_gridbeta.png
code/test_gridbeta2.png
code/test_gridbeta_noYY.png
code/test_gridr.png
code/test_gridr2.png
code/test_gridr_noYY.png
code/test_jacbeta.png
code/test_jacr.png
